Configs/Generated/
.env*
*.local.xcconfig
.cursor/
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Web related

# Environment variables & sensitive data
.env
.env.*
*.env
secrets.json
google-services.json
GoogleService-Info.plist

# Firebase configuration
firebase_options.dart

# iOS & Android specific
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_export_environment.sh
**/android/key.properties
**/android/*.keystore
**/android/app/google-services.json
**/android/.gradle
**/android/local.properties
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/
**/android/**/GeneratedPluginRegistrant.java

# Coverage
coverage/

# Temporary files
.temp/
.tmp/

# Fastlane related
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# FVM related (Flutter Version Management)
.fvm/

# Mason related
.mason/
